.input {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 30px;
}
.tipo {
  /* padding: 20px; */
}

.menu {
  width: 250px;
  padding: 15px;
  position: absolute;
  right: -10px;
  top: 150%;
  max-height: 300px;
  height: 200px;
  overflow: auto;
  color: aliceblue;
}
.menu a,
.menu span {
  text-align: left !important;
}
.option {
  display: flex;
  justify-content: space-between;
}
